*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}









/* DEBUG */
.debug main{
    width: 100%;
    height: 700px;
    background-color: red;
}

.debug footer{
    width: 100%;
    height: 100px;
    background-color: greenyellow;
}