*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

#app{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
 /* MAIN WINDOW */
#main-window{
    flex-grow: 1;
    display: flex;
}

.logo-spotify img{
    width: 160px;
    margin-bottom: 30px;
    padding: 15px;
}

.home img {
    width: 30px;
    margin-right: 10px;
}
  
.home ul li a {
    display: flex;
    text-decoration: none;
    color: #747474;
    align-items: center;
}

.home ul li {
    margin-bottom: 10px;
    padding-left: 15px;
    border-left: 3px solid transparent;
}
  
.home h5 {
    margin-top: 15px;
    margin-bottom: 10px;
    padding-left: 15px;
  }
  
.home ul {
    list-style: none;
  }
  
.home ul li i {

    font-size: 40px;
    margin-right: 10px;
}
  
.home ul li a {
    font-size: 12px;
    padding: 7px 7px 0;
}






/* DEBUG */
.debug main{
    width: 100%;
    height: 700px;
    background-color: red;
}

.debug footer{
    width: 100%;
    height: 100px;
    background-color: greenyellow;
}